#navbarBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
#homeLink {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
#navbarInfo {
  color: black;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}
